.contact-me {
  display: flex;
  height: 100vh;
  
}

.getInTouch {
  display: flex;
  align-items:flex-start;
  justify-content: center;
  height: 80px;
  font-size: 2.5rem;
  font-weight: 400;
  color:  #1cfadcc7;
  text-transform: uppercase;
  font-family: 'Tektur', sans-serif;
  letter-spacing: 5px;
  text-shadow: -2px 4px 4px rgba(12, 13, 14, 0.6);

   margin-top: 5rem;
   margin-right: 5rem;
   margin-left: 10rem;
   padding: 15px;
   background: rgb(10, 10, 10);
   border-radius: 10%;
   border-top-right-radius: 1% ;
   border-bottom-left-radius: 1% ;
  
}

.in {
  margin: 0px 20px;
  
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 1%;
  left: -3%;
  background: transparent;
  box-shadow: 0 1px 3px 0 rgb(108, 255, 152);
  background: rgb(10, 10, 10);

  max-height: 570px;
  
  width: 750px;
  border-radius: 12%;
  border-top-right-radius: 1% ;
  border-bottom-left-radius: 1% ;
  margin-top: 8%;
}

.contact-form {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.inputBox {
  position: relative;
  height: 70px;
}
.inputBox input {
  position: relative;
  top: -60%;
  padding: 15px;
  margin-bottom: 35px;
  color: #02fff2;
}

.inputBox textarea {
  margin-top: 0%;
  color: #02fff2;

}


.inputBox> span {
  position: absolute;
  left: 10%;
  padding: 10px;
  pointer-events: none;
  font-size: 0.8rem;
  color: rgb(5, 255, 192);
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s
  cubic-bezier(0.05, 0.81, 0, 0.93);
  
}




.contact-inputs {
  border: solid rgb(48, 240, 144);
  height: 50px;
  width: 600px;
  border-radius: 10px;
  padding: 20px;
  margin: 35px;
  margin-bottom: 40px;
  font-family: 'Poppin', sans-serif;
  background: transparent;
  
}


.message-area {
 
  height: 300px;
}


.inputBox input:focus ~ span,
.inputBox input:valid ~ span,
.inputBox textarea:focus ~ span,
.inputBox textarea:valid ~ span {
  font-size: 0.75rem;
  transform: translateX(-2px)
  translateY(-12px);
  padding: 0 10px;
  border-radius: 2px;
  border-left: 2px solid rgb(2, 255, 179);
  border-right: 2px solid rgb(2, 255, 179);
  background: rgb(10, 10, 10);
  letter-spacing: 3px;
  color: #02ff9e;
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
  color: transparent;
}

.contact-form > textarea {
  height: 300px;
  border-radius: 5px;
  overflow: auto;

}

.submit-btn {
  margin-top: 250px;
  height: 50px;
  width: 100px;
   
  cursor: pointer;
  border-radius: 5px;
  border: solid rgb(55, 236, 55);
  background: rgba(77, 74, 74, 0.548);
  box-shadow: 0px 0px 2px 0 rgb(108, 255, 152);
  color: rgb(33, 236, 118);
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s;
}

.submit-btn:hover {
  background-color: rgba(7, 7, 7, 0.514);
  color: rgb(7, 255, 152);
  
}

.contactIcons {
  display: flex;
  position: relative;
  right: 20%;
  top: 35%;
  flex-direction: column;
  min-width: 50px;
  max-height: 200px;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  font-size: 50px;
}
.contactIcons>i {
  cursor: pointer;
  color: transparent;
  
 
}

.fa-linkedin  {
  position: relative;
  left: 80%;
  top: -10%;
  -webkit-text-stroke: 0.1vw #07ffff;
 margin-bottom: 40px;
 background: rgb(10, 10, 10);
 padding: 20px;
 border-radius: 20%;
 border-top-right-radius: 1% ;
 border-bottom-left-radius: 1% ;


}





.fa-square-facebook {
  position: relative;
  top: -40%;
  left: 160%;
  -webkit-text-stroke: 0.1vw #02fff2;
  
  background: rgb(10, 10, 10);
 padding: 20px;
 border-radius: 20%;
  border-top-right-radius: 1% ;
  border-bottom-left-radius: 1% ;
  
}



.fa-github {
  position: relative;
  top: -10%;
  left: 10%;
  -webkit-text-stroke: 0.1vw #02ffff;
  
  background: rgb(10, 10, 10);
 padding: 20px;
 border-radius: 20%;
  border-top-right-radius: 1% ;
  border-bottom-left-radius: 1% ;
  
}

a { color: transparent; } 


