.hobbies-section{
  height: 100vh;
  margin-top: 0%;
  display: flex;
}

.work-experience-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 43%;
  top: 15%;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
 
 border-radius: 2%;
  height: 450px;
  width: 500px;
  flex-direction: column;
  color: aliceblue;
}

.work-experience-title {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.team-name {
  text-transform: uppercase;
  padding: 5px;
  background: -webkit-linear-gradient(180deg, rgb(255, 9, 9) 43%, rgba(255,255,255,1) 42%, rgba(255,247,247,1) 65%, rgb(1, 255, 1) 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  
}
.work-activity> h3 {
  color: rgb(224, 243, 243);
  position: relative ;
  left: -40%;
  margin-bottom: 35px;
}
.current-workplace {
  color: aqua;
  text-shadow: -2px 4px 4px rgba(12, 13, 14, 0.6);
  background:rgba( 255, 255, 255, 0.18 );
  padding: 5px;
  line-height: 60px;
  position: relative;
  left: 7%;
  letter-spacing: 5px;
  bottom: 15px;
}
.work-activity-list {
  list-style: none;
  margin-bottom: 20px;
  line-height: 30px;
}

.counter-container {
  display: flex;
  flex-direction: row;
  color: rgb(6, 255, 201) ;

}
.counter-element {
  margin-left: 10px;
  padding: 20px;
  font-size: 1.3rem;

}

.time-unit {
  position: relative;
  left: -15%;
  font-family: "Tektur", sans-serif;
  color: aliceblue;
}

.activity-number {
  color: rgb(6, 255, 201) ;
  font-weight: 600;
}


.travel-cards {
  transition: transform 400ms ease;
}
.travel-photo {
  cursor: pointer;
  width: 35vmin;
  height: auto;
  aspect-ratio: 9/16;
  background-color: white;
  border-radius: 1vmin;
  position: absolute;
  
  transition: transform 400ms cubic-bezier(.05,.45,.25,.97);
  box-shadow:
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 3px rgb(101, 204, 170),
  0 0 4px rgb(101, 204, 170),
  0 0 5px rgb(101, 204, 170),
  0 0 8px rgb(101, 204, 170),
  0 0 10px rgb(101, 204, 170);
  
}

.travel-photo:nth-child(1) {
  background-color: rgb(221, 240, 240);
  transform: translateX(-10%) rotate(-5deg);
  background-image: url('../Travel/Lisbon-left.jpg');
  background-size: cover;
}

.travel-photo:nth-child(2) {
  background-color: aqua;
  transform: translateX(30%) rotate(5deg);
  background-image: url('../Travel/Lisbon-right.jpg');
  background-size: cover;
}

.travel-photo:nth-child(3) {
  background-color: rgb(172, 224, 224);
  transform: translateX(-6) rotate(-5deg);
  background-image: url('../Travel/Lisbon-middle.jpeg');
  background-size: cover;
}

.travel-cards[data-index="1"] >.travel-photo:nth-child(1) {
  
  background-image: url('../Travel/monaco-left.jpg');
  
}

.travel-cards[data-index="1"] >.travel-photo:nth-child(2) {
  
  background-image: url('../Travel/monaco-right.jpg');
  
}



.travel-cards[data-index="1"] >.travel-photo:nth-child(3) {
  
  background-image: url('../Travel/monaco-middle.jpg');
}



.travel-cards[data-index="2"] >.travel-photo:nth-child(1) {
  
  background-image: url('../Travel/Mallorca-middle.jpeg');
  
}

.travel-cards[data-index="2"] >.travel-photo:nth-child(2) {
  
  background-image: url('../Travel/Mallorca-right.jpg');
  
}

.travel-cards[data-index="2"] >.travel-photo:nth-child(3) {
  
  background-image: url('../Travel/Mallorca-left.jpeg');
  
}

.travel-cards[data-index="3"] >.travel-photo:nth-child(1) {
  
  background-image: url('../Travel/Italy-left.jpeg');
  
}

.travel-cards[data-index="3"] >.travel-photo:nth-child(2) {
  
  background-image: url('../Travel/Italy-right.jpeg');
  
}

.travel-cards[data-index="3"] >.travel-photo:nth-child(3) {
  
  background-image: url('../Travel/Italy-middle.jpg');
}

.travel-cards[data-index="4"] >.travel-photo:nth-child(1) {
  
  background-image: url('../Travel/Nizza-left.jpg');
  
}

.travel-cards[data-index="4"] >.travel-photo:nth-child(2) {
  
  background-image: url('../Travel/Nizza-right.jpg');
  
}

.travel-cards[data-index="4"] >.travel-photo:nth-child(3) {
  
  background-image: url('../Travel/Nizza-middle.jpg');
}



.travel-cards:hover> .travel-photo:nth-child(1) {
  position: absolute;
  transform: translate(-60%, 11%) rotate(-20deg);
 
}

.travel-cards:hover> .travel-photo:nth-child(2) {
 
  position: absolute;
  cursor: pointer;
  transform: translate(10%, 2%) rotate(-10deg);
}

.travel-cards:hover> .travel-photo:nth-child(3) {

  position: absolute;
  cursor: pointer;
  transform: translate(80%, 5%) rotate(15deg);
}



.like-dislike-btn{
  width: 32vmin;
  margin-top: 23vmin;
  margin-left: -220%;
  display: flex;
  justify-content: space-around;
  padding: 0vmin 2vmin;
}

.like-dislike-btn> button {
  font-size: 4.5vmin;
  transition: 0.5s;
  display: grid;
  place-items: center;

  border-radius: 100%;
  color: rgb(88, 252, 252);
  background-color: transparent;
  height: 10vmin;
  width: 10vmin;
  cursor: pointer;
  border: none;
  

  text-shadow:

  0 0 2px rgb(101, 204, 170),
  0 0 4px rgb(101, 204, 170),
  0 0 5px rgba(101, 204, 170, 0.5) ;

  
  

}

.fa-heart {
  color: rgb(255, 255, 255);
}

.fa-x {
  font-weight: 1000;
 
}

.like-dislike-btn> button:hover {
  background: rgb(72,87,83);
background: linear-gradient(175deg, rgb(35, 37, 37) 27%, rgb(75, 130, 133) 60%, rgb(39, 70, 64) 68%);

box-shadow:
  0 0 5px #fff,
  0 0 8px #fff,
  0 0 5px rgb(101, 204, 170),
  0 0 6px rgb(101, 204, 170),
  0 0 8px rgb(101, 204, 170),
  0 0 10px rgb(101, 204, 170),
  0 0 25px rgb(101, 204, 170);
}

.photo-group {
  width: 32vmin;
  aspect-ratio: 9/16;
  transition: transform 500ms ease;
  position: relative;
  top: 10%;
  right: 220%;
}



.travel-cards[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.travel-cards[data-status="active"] {
  transition-delay: 500ms;
}

.travel-cards[data-status="after"] {
  transform: translateX(65%) scale(0);
}

.travel-cards[data-status="before"] {
  transform: translateX(-65%) scale(0);
}

.travel-cards[data-status="becoming-active-from-after"] {
  transform: translateX(65%) scale(0);
  transition: none;
}

.travel-cards[data-status="becoming-active-from-before"] {
  transform: translateX(-65%) scale(0);
  transition: none;
}

.photo {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  
  background-position: center;
  background-size: cover;
}

.hobby {
  display: flex;
  position: relative;
  top: 20%;
  left: 45%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  backdrop-filter: blur( 1.5px );
  -webkit-backdrop-filter: blur( 1.5px );
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
   color: rgb(247, 244, 244);
  min-width: 250px;
  max-height: 250px;
  list-style: none;
  transform: rotate(6deg);
}
.hobby > h3{
  color: aquamarine;
  text-shadow: -2px 4px 4px rgba(12, 13, 14, 0.6);
  background:rgba( 255, 255, 255, 0.18 );
  letter-spacing: 3px;
  padding: 5px;
}
.hobbies-list{
  list-style: none;
}


.hobby-list {
  margin-top: 20px;
}