.portfolio-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
   margin-bottom: 0;
}

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 70vmin;
  padding: 30px;
}


.work {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 450px;
  margin: 15px;
  border-radius: 20px;
  background: #1a1a1d;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgb(66, 255, 195);
  
}

.work> p  {
  z-index: 50;
}


.work::before {
    content: '';
    position: absolute;
    width: 170px;
    height: 140%;
    border-radius: 20px;
    background: linear-gradient(#02aaf8, #10ff1c);
    transform: rotate(25deg);
    
}



.work::after {
  content: '';
  position: absolute;
  background: #1a1a1d;
  inset: 6px;
  border-radius: 10px;
 

}



.portfolio1 {
  margin-bottom: 10%;
}

.portfolio2 {
  margin-bottom: 5%;
}

.portfolio3 {
  margin-bottom: 0%;
}

.portfolio4 {
  margin-bottom: -5%;
}

.portfolio5 {
  margin-bottom: -10%;
  
}

